<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715036890158-2aq77tlb65ti5paooisn57qqujgdtiqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715036890158-2aq77tlb65ti5paooisn57qqujgdtiqd</string>
	<key>API_KEY</key>
	<string>AIzaSyB3tsPX_oC7VYHPhq2RU_TxVr98Es8n_8I</string>
	<key>GCM_SENDER_ID</key>
	<string>715036890158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kurbs.com.Lidora-Chef</string>
	<key>PROJECT_ID</key>
	<string>lidora-b01f7</string>
	<key>STORAGE_BUCKET</key>
	<string>lidora-b01f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715036890158:ios:59095f493634d220de7bbf</string>
	<key>DATABASE_URL</key>
	<string>https://lidora-b01f7.firebaseio.com</string>
</dict>
</plist>